// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

.pf-c-data-list {
    --pf-global--BoxShadow--md: transparent 0 0 0 0;

    .pf-c-data-list__item + .pf-c-data-list__item {
        border: None;
    }

    .pf-c-data-list__item {
        display: flex;
        justify-content: space-between;

        .pf-c-data-list__cell + .pf-c-data-list__cell {
            text-align: right;
        }

        .pf-c-data-list__cell {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.pf-c-card__header {
    --pf-c-card__header--PaddingTop: 12px;
    --pf-c-card__header--PaddingBottom: 12px;
    --pf-c-card__header--PaddingLeft: 24px;
    --pf-c-card__header--PaddingRight: 24px;

    border-bottom: 2px solid #ebebeb;
    font-size: 18px;
}

.runDetails {
    .pf-c-card {
        flex: 1;
        margin-right: 0;
    }
    .taskCard {
        --pf-c-card__body--PaddingLeft: 0;
        --pf-c-card__body--PaddingRight: 0;
    }
}

.logCard {
    display: flex;
    flex: 1;
    margin-right: 0;
    margin-top: 20px;
}

.pf-c-tooltip__content {
    --pf-c-tooltip__content--PaddingBottom: 10px;
    --pf-c-tooltip__content--PaddingLeft: 10px;
    --pf-c-tooltip__content--PaddingRight: 10px;
    --pf-c-tooltip__content--PaddingTop: 10px;
}

@media only screen and (max-width: 600px) {
    .dataCard {
        flex-direction: column;

        .pf-c-card {
            margin: 20px 0 0 0;
        }
    }
}
