// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass
.pf-c-data-list__cell {
    --pf-c-card__body--PaddingTop: 10px;
    --pf-c-card__body-cell--PaddingTop: 10px;
    --pf-c-card__body--PaddingBottom: 10px;
}

.dataCard {
    .pf-c-card {
        flex: 1;
        margin-right: 0;
    }

    article + article {
        margin-left: 20px;
    }
}

.logCard {
    .pf-c-card {
        flex: 1;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .dataCard {
        flex-direction: column;

        .pf-c-card {
            margin: 20px 0 0 0;
        }
    }
}
